@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
  
@layer base {
    body {
        @apply bg-CoolGray200;
        @apply font-body;
    }
}

.classroom-content {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
}

.classroom-content:hover {
    background-image: linear-gradient(
        to right,
         rgba(76, 233, 170, 0.8), 
         rgba(61, 182, 133, 0.8)
         ) !important;    
}


@media (min-width: 450px) {
    #table-container {
        width: 500;
        height: auto;
        font-family: "League Spartan", sans-serif;
    }
}

table {
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
}

tr, th, td {
    text-align: center;
    padding: 0.5rem;
    border: 1px solid;
}