@tailwind base;
@tailwind components;
@tailwind utilities;

#home {
    background-image: url('../images/bg.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay !important;
    background-color: #0009;
    background-attachment: fixed;
    height: 600px;
}